.marco {
    background-color: #63CA74;
    width: 900px;
    height: 450px;
    padding: 20px;
    }
.pasto {
    border: 1px solid #fff;
    width: 900px;
    height: 450px;
    position: relative;
    }
.circulo {
    border: 1px solid #fff;
    width: 200px;
    height: 200px;
    margin-left: 350px;
    margin-top: 130px ;
    border-radius: 200px;
    ;
    }
.arcosa{
    border: 1px solid #fff;
    width: 150px;
    height: 200px;
    float: right;
    margin-right: 0px;
    margin-top: -210px;
    ;
    }
.arcosb{
    border: 1px solid #fff;
    width: 150px;
    height: 200px;
    margin-top: -210px;
    }
.bola1 {
    margin-left: 140px;
    margin-top: -200px;
    }
.bola2 {
    margin-left:480px;
    margin-top: -80px;
    }
.bola3 {
    margin-left:720px;
    margin-top: 200px;
    }